{{+ import Greeting from "zombie274/widgets/greeting/greeting"; }}
{{+ import Button from "zombie274/widgets/button/button"; }}

<h1>Empty "zombie274" project!</h1>



<div class="row scenes">
	{{% Button, 'Player', playerButton }}
</div>
<div class="row history">
	{{% Button, 'Back in history', backButton }}
	{{% Button, 'Forward in history', forwardButton }}
</div>
